@media (max-width: 1400px){
    .portfolio{
        #portfolio__slider{
            order: 2;
        }
        #portfolio__directions{
            order: 1;
        }
        &__wrapper{
            flex-direction: column;
        }
        &__slider{
            margin: 0 auto;
        }
        &__directions{
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            &__item{
                &::before{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .portfolio{
        padding: 60px 0;
        &__slider{
            width: 100%;
        }
        &__slide{
            &__f-active{
                left: 13%;
            }
        }

        &__directions{
            &__item{
                img{
                    margin-right: 10px;
                }
                span{
                    font-size: 25px
                }
            }
        }
    }
}