@media (max-width: 1400px){
    .reviews{
        &__item{
            width: 830px;
        }
        &__directions{
            padding-left: 0;
            &__item{
                &::before{
                    display: none;
                }
            }
        }
    }
}

@media (max-height: 1200px){
    .reviews{
        &__item{
            width: 90%;
        }
        &__directions{
            &__item{
                span{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width: 992px){
    .reviews{
        &__item{
            font-size: 20px;
        }
        &__directions{
            &__item{
                img{
                    height: 75px;
                    width: 75px;
                }
                span{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .reviews{
        &__item{
            width: 97%;
            font-size: 18px;
        }
        &__directions{
            &__item{
                margin-bottom: 0;
                margin-top: 20px;
                flex-direction: column;
                img{
                    margin: 0 0 20px;
                    width: 70px;
                    height: 70px;
                }
                span{
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 576px){

}