@media (max-width: 1400px){
    .reviews{
        &__item{
            width: 830px;
        }
        &__directions{
            padding-left: 0;
            &__item{
                &::before{
                    display: none;
                }
            }
        }
    }
}

@media (max-height: 1200px){
    .reviews{
        &__item{
            width: 90%;
        }
        &__directions{
            &__item{
                span{
                    font-size: 25px;
                }
            }
        }
    }
}