@media (max-width: 1400px){
    .offer{
        &__title{
            font-size: 46px;
            margin-left: 120px;
        }
        img {
            height: 509px;
        }
        &__form {
            padding: 170px 59px 50px;
            select, input{
                width: 420px;
                height: 56px;
                padding: 0 30px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1200px){
    .offer{
        &__title{
            font-size: 26px;
            margin-left: 58px;
            width: 420px;
        }
        img{
            display: none;
        }
        &__form{
            padding: 197px 59px 50px;
            select, input{
                margin-bottom: 24px;
            }
        }
    }
}

@media (max-width: 992px){
    .offer{
        padding: 60px 0 37px 0;
        &__title{
            font-size: 22px;
            margin-left: 45px;
            width: 352px;
        }
        &__form{
            padding: 170px 45px 30px;
            select, input{
                width: 350px;
                height: 56px;
                padding: 0 25px;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 576px){
    .offer{
        padding: 0;
        &__wrapper{
            width: 100%;
        } 
        &__title{
            font-size: 22px;
            margin-left: 30px;
            width: 352px;
        }
        &__form{
            padding: 170px 30px 30px;
            width: 100%;
            select, input{
                width: 100%;
            }
        }
    }
} 