@media (max-width: 1440px){
    .service{
        .section-title{
            transform: rotate(-90deg) translate(-10%, -56%);
        }
        &__list__item {
            font-size: 36px;
            margin-bottom: 35px;
        }
    }
}

@media (max-width: 1200px){
    .service{
        padding-top: 68px; 
        .section-title{
            transform: rotate(-90deg) translate(-20%, -56%);
        }
        &__list{
            &__item{
                font-size: 30px;
                margin-bottom: 26px;
                &::before{
                    width: 40px;
                    height: 2px;
                    top: 15px
                }
            }
        }
    }
}