@media (max-width: 1440px){
    .container{
        max-width: 1200px;
    }
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }

    .detail{
        font-size: 21px;
        padding-left: 39px;
        &::before{
            top: 11px;
        }
    }

    .section-title{
        font-size: 100px;
        span{
            font-size: 100px;
        }
    }

    .blue-buttom{
        font-size: 18px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }

    .section-title{
        font-size: 90px;
        span{
            font-size: 90px;
        }
    }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .blue-buttom {
        font-size: 15px;
    }
    .section-title{
        font-size: 85px;
        span{
            font-size: 85px;
        }
    }
    .detail{
        font-size: 18px;
        padding-left: 36px;
        &::before{
            top: 9px;
            width: 21px;
        }
    }
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding: 0 10px;
    }

    .section-title{
        font-size: 58px;
        span{
            font-size: 58px;
        }
    }
    .detail{
        font-size: 16px;
        padding-left: 30px;
        &::before{
            height: 2px;
            width: 16px;
        }
    }
}